[submodule "Externals/SDL"]
	path = Externals/SDL
	url = https://github.com/spurious/SDL-mirror
[submodule "Externals/freetype2"]
	path = Externals/freetype2
	url = git://git.savannah.nongnu.org/freetype/freetype2.git
[submodule "Externals/glib"]
	path = Externals/glib
	url = https://github.com/GNOME/glib
[submodule "Externals/unicorn"]
	path = Externals/unicorn
	url = https://github.com/unicorn-engine/unicorn
[submodule "Externals/glew"]
	path = Externals/glew
	url = https://github.com/nigels-com/glew
